.index_header{
    width: 100%;
     background: #80C269;
    
    .header_nav{
        width: 900px;
        height: 32px;
       
        margin: 0 auto;
        
        ul{font-size: 0;}
        li{
            height: 100%;
            line-height: 32px;
            text-align: center;
            display: inline-block;
            font-size: 12px; 
            
            a{
                font-family: arial;
                color: #fff;  
                padding-left: 15px;
                padding-right: 15px;           
                
            }
            
            
        }
        
        .header_nav_left{
            li{
                position: relative;
                a{
                    border-right:1px solid #ADD778 ;
                }
                
                &:last-child a{
                    border-right:0; 
                }
                
                &:first-child a{
                    color: #000;
                    border-right: 0;
                } 
                
                span{
                    
                } 
                
                .header_triangle{
                    @include triangle(5px,#74BF1F,0);
                    position: absolute;
                    bottom: -3px;
                    left: 49%;  //不支持calc
                    left: calc(50% - 5px);
                    
                }
            }
            
        }
        
        .header_nav_right{
            li{
                &:last-child a{
                    padding-right: 5px;
                }
            }
            
            span{
                display: inline-block;
                width: 3px;
                height: 3px;
                background: #A6D369;
            }
            
            .header_nav_select{
                display: inline-block;
                width: 11px;
                height: 12px;
                background: plum;
                
                box-shadow: 1px 1px #609F36;  //1px 阴影
            }
        }
        
    }
    
    
    .header_bottom{
        width: 100%;
        height: 230px;
        background: linear-gradient(#fff,#fff 145px,#F2F0F2);//渐变
        overflow: hidden;
        
        .container{
            
            width: 900px;
            margin: 0 auto;
            margin-top: 30px;
            
            .container_left{
                //margin-left: ;
                .logo{
                    
                    div{
                        width: 250px;
                        height: 40px;
                        background: yellow;
                        display: inline-block;
                    }
                    
                    span{
                        color: #6AA131;
                    }
                    
                }
                
                .header_serch{
                    margin-top: 10px;
                    border: 5px solid #88C750; 
                    position: relative;                  
                    input[type=text]{
                        width: 355px;
                        height: 34px;
                        border: 0;
                        outline: none;
                    }
                    
                    input[type=submit]{
                        width: 31px;
                        height: 27px;
                        margin-right: 3px;
                        background-color:#81C26A ;
                        //background-image: ;
                        border: 0;
                        outline: none;
                    }
                    
                
                }
                
                .header_radio{
                    margin-top: 10px;
                    input[type=radio]{
                        
                    }
                }
                
                .description{
                    margin-top:10px ;
                    div{
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        background: red;
                    }
                    
                    span{
                        //color: ;
                    }
                }
            
            }
            
            
            .container_right{
                width: 340px;
                height: 172px;
                border: 1px solid #D7D7D7;
                
                ul{
                    width: 100%;
                    font-size: 0;
                    li{
                        width: 50%;
                        height: 30px;
                        font-size: 1rem;
                        @include text-center(30px);
                        display: inline-block;                       
                        box-sizing: border-box;
                        position: relative;
                        border: 1px solid #D7D7D7;
                        a{
                            color: #000;
                        }
                        
                        .tab_trangle{
                            @include triangle(5px,#74BF1F,0);
                            position: absolute;
                            bottom: -3px;
                            left: 49%;  //不支持calc
                            left: calc(50% - 5px);
                            
                        }
                    }
                    
                    .tab_active{
                        border-bottom: none;
                    }
                    
                    .content{
                        font-size: 1rem;
                        margin-top: 25px;
                        .content_img{
                            width:120px ;
                            height: 88px;
                            border: 3px solid #3C3C3C;
                            margin-left: 14px;
                        }
                        
                        .content_text{
                            width: 164px;
                            p{
                                margin-top: 10px;
                                line-height: 1.5rem;
                                &:first-child{
                                    margin-top: 0;
                                }
                            }
                            .content_text_word{
                                span{
                                    font-size: 2rem;
                                    font-weight: bold;
                                    &:first-child{
                                        padding-right: 10px;
                                    }
                                }
                            }
                        }
                    }
                    
                }
            }
        }
        
        
    }
}


